/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env

# Ignore installer
/storage/installed

# Ignore user data
/storage/group_data

# Ignore uploaded tmp files
/storage/*.zip
