/node_modules
/public/hot
/public/storage
/public/js/admin
/public/js/admin/*
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env

# Ignore installer
/storage/installed

# Ignore user data
/storage/group_data

# Ignore uploaded tmp files
/storage/*.zip

# Ignore 1.7 ruleset cache files.
/storage/.*.txt

package-lock.json
